.movie{
    background-color: gray;
    color: black;
    margin: 0;
    border: 1px solid gray;
    padding: 3px;
    font-weight: bold;
    text-align: start;
    width: 23%;
    margin-top: 16px;
}
.movie img{
    height: 200px;
    width: 100%;
}